Django==2.0.2
django-allauth==0.35.0
django-crispy-forms==1.7.0
django-storages
django-debug-toolbar==1.9
gunicorn==19.7.1
Pillow==5.0.0
requests==2.18.4
Unipath==1.1
braintree==3.41.0
psycopg2-binary==2.7.4
boto3
