{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}| {% trans "Login" %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}
<main class="container">

  <form method="post" action="{% url 'account_login' %}" id="login">
    <h1>{% trans "Login" %}</h1>
    {% csrf_token %}
    {{ form | crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-group">
      <button class="btn btn-outline-primary btn-block" type="submit">{% trans "Login" %}</button>
    </div>
    <div class="form-group">
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </form>

</main>
{% endblock %}
