.btn-outline-primary {
  border-color: black !important;
  color: black;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}

.btn-outline-primary:hover {
  color: white;
  background: black;
  border-color: black;
}

.btn-outline-primary:active {
  color: white;
  background: black !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5) !important;
}
